.DS_Store
._*
sdk/binutils-2.15/
sdk/gcc-3.3.6/
sdk/newlib-1.15.0/
sdk/bld-*/
sdk/local/
sdk/work/
sdk/build-aibo-toolchain-local.sh
samples/common/HelloWorld/HelloWorld/*.o
samples/common/HelloWorld/HelloWorld/*.elf
samples/common/HelloWorld/HelloWorld/*.snap.cc
samples/common/HelloWorld/HelloWorld/*.bin
!samples/common/HelloWorld/MS/OPEN-R/MW/OBJS/HELLO.BIN
aperios/hello-world-host
aperios/mind2-behavior-sim
features/*/build/
local-artifacts/
# LaTeX build byproducts
paper/*.aux
paper/*.log
paper/*.out
