#
# MoNetTest <--> MoNet
#
MoNetTest.Command.MoNetCommand.S MoNet.ClientCommand.MoNetCommand.O
MoNet.ClientResult.MoNetResult.S MoNetTest.Result.MoNetResult.O

#
# MoNet <--> MotionAgents
#
MoNet.MotionAgentCommand.MoNetAgentCommand.S MotionAgents.Command.MoNetAgentCommand.O
MotionAgents.Result.MoNetAgentResult.S MoNet.AgentResult.MoNetAgentResult.O

#
# MoNet <--> SoundAgent
#
MoNet.SoundAgentCommand.MoNetAgentCommand.S SoundAgent.Command.MoNetAgentCommand.O
SoundAgent.Result.MoNetAgentResult.S MoNet.AgentResult.MoNetAgentResult.O

#
# MotionAgents --> OVirtualRobotComm
#
MotionAgents.Effector.OCommandVectorData.S OVirtualRobotComm.Effector.OCommandVectorData.O

#
# SoundAgent --> OVirtualRobotAudioComm
#
SoundAgent.Speaker.OSoundVectorData.S OVirtualRobotAudioComm.Speaker.OSoundVectorData.O

#
# OVirtualRobot --> ImageObserver
#
OVirtualRobotComm.FbkImageSensor.OFbkImageVectorData.S ImageObserver.Image.OFbkImageVectorData.O
